@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary : #26262c;
  --on-primary : #f2f2f2;
  --secondary : #23232e;
  --on-secondary : #f2f2f2;
  --surface : #181820;
  --on-surface : #f2f2f2;
}

